<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <h4 class="sidebar-heading">
        <a href="/" class="text-decoration-none text-dark">Menú</a>
      </h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/songs">Canciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-song">Añadir Canción</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favoritos">Favoritos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Acerca de</a>
        </li>
      </ul>
    </div>
  </nav>
  